/*====================================*\
	#TOPBAR
\*====================================*/

@import "~stylesheets/variables/colors";
@import "~stylesheets/variables/fonts";
@import "~stylesheets/variables/utils";
@import "~stylesheets/utils";


.topbar{
	@include flex;

	min-height: 52px;
	padding: 0 0.7rem;
	border-bottom: 1px solid #d8d8da;
	font-size: 0.9rem;
	justify-content: left;

	@include desktop{
		padding-left: 5.5rem;
	}

	@include tablet{
		display: block;
		padding: 0.7rem 0.7rem 0.7rem 5.5rem;
		height: auto;
		text-align: center;
	}
}


.items{
	@include flex;

	width: 100%;
	justify-content: left;

	@include tablet{
		display: block;
		text-align: center;
	}
}

.item{
	margin-left: 1.5rem;
	padding: 0.4rem 0.7rem;
	text-align: center;
	color: $grayDark;
	cursor: pointer;
	border-radius: 3px;
	white-space: nowrap;

	&.isActive{
		background: $blueLight;
		color: $blue;
	}

	&.isAction{
		margin-left: auto;
		margin-right: 0;
		background: #e1e8ed;
		color: $gray;
	}

	@include tablet{
		display: inline-block;
		margin-top: 1rem;
		vertical-align: middle;
	}

	@include mobile{
		display: none;
	}
}

.icon{
	margin-top: -2px;
	margin-right: 0.5rem;
	font-size: 1.1rem;
	vertical-align: middle;
}

.select{
	padding: 0.3rem 0.5rem 0.3rem 0.2rem;
	background: none;
	border: none;
	font-family: $fontFamily;
	color: $grayDark;
	outline: none;
	cursor: pointer;

	#{$pEvents}{
		color: $blue;
	}
}