/*====================================*\
	#HOME
\*====================================*/

@import "~stylesheets/variables/properties";
@import "~stylesheets/utils";

 
.content{
	padding-left: $sidebarWidth;

	@include desktop{
		padding-left: 0;
	}
}