/*====================================*\
	#THEME
\*====================================*/

@import "~stylesheets/variables/colors";
@import "~stylesheets/variables/fonts";
@import "~stylesheets/variables/properties";
@import "~stylesheets/variables/utils";
@import "~stylesheets/utils";


*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	min-height: 100%;
	background: $grayLight;
	font-family: $fontFamily;
	font-weight: $fontWeight;
}

/*------------------------------------*\
	#LISTS
\*------------------------------------*/

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


/*------------------------------------*\
	#LINKS
\*------------------------------------*/

a{
	display: inline-block;
	text-decoration: none;

	transition: color 0.2s ease-out;

	#{$pEvents}{
		color: $primaryColor;
	}
}


/*------------------------------------*\
	#LOADING
\*------------------------------------*/


:global{
	.loading{
		display: block;
		padding-top: 1rem;
		flex: 1;
		text-align: center;
		font-size: 1.6rem;
		color: #989898;
		font-weight: 300;

		> .spinner{
			margin: 0 auto 1rem;
		}
	}
}