/*====================================*\
	#UTILS
\*====================================*/

@import "~stylesheets/variables/utils";


@mixin flex(){
	display: flex;
    align-items: center;
	justify-content: space-between;
}

@mixin mobile {
	@media screen and (max-width: #{$mobileWidth}){
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: #{$tabletWidth}){
		@content;
	}
}

@mixin desktop{
	@media screen and (max-width: #{$desktopWidth}){
		@content;
	}
}