/*====================================*\
	#COLORS
\*====================================*/

$white: #ffffff;
$gray: #8a9ba8;
$grayLight: #ebf1f5;
$grayDark: #394b59;
$black: #000;

$blue: #2786c1;
$blueLight: #cde1ed;
$yellow: #eab928;
$orange: #ff9945;
$red: #de4343;


$primaryColor: #30404d;
$secondaryColor: $grayDark;