/*====================================*\
	#UTILS
\*====================================*/

$pHover: '&:hover';
$pFocus: '&:focus';
$pActive: '&:active';
$pEvents: "#{$pHover}, #{$pFocus}, #{$pActive}";


$mobileWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1024px;