/*====================================*\
	#SIDEBAR
\*====================================*/

@import "~stylesheets/variables/colors";
@import "~stylesheets/variables/fonts";
@import "~stylesheets/variables/properties";
@import "~stylesheets/variables/utils";
@import "~stylesheets/utils";


.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: $sidebarWidth;
	background: $primaryColor;
	z-index: 100;
	transition: transform 0.4s cubic-bezier(0.53, 1.21, 0.58, 1);

	@include desktop{
		&.isClosed{
			transform: translateX(-100%);
		}
	}
}

.menu{
	position: absolute;
	top: 0.5rem;
	left: 100%;
	display: none;
	height: 2.1rem;
	padding: 0.7rem;
	background: darken($primaryColor, 5%);
	font-size: 0.9rem;
	color: $white;
	line-height: 1.3rem;
	cursor: pointer;
	border-radius: 0 3px 3px 0;

	#{$pEvents}{
	}

	> .icon{
		margin-left: 0.5rem;
		font-size: 1rem;

		.isClosed &{
			transform: rotate(180deg)
		}
	}

	@include desktop{
		@include flex;
	}
}

.header{
	@include flex;

	padding: 0.8rem 1rem;
	border-bottom: 1px solid #1d272f;
}

.icon{
	color: #8a9ba8;
	cursor: pointer;

	#{$pEvents}{
		color: $white;
	}

	& + &{
		margin-left: 0.7rem;
	}
}


/*------------------------------------*\
	#COLLAPSE OVERWRITE
\*------------------------------------*/

:global{
	.rc-collapse{
		> .rc-collapse-item{
			background: $secondaryColor;
			font-size: 0.9rem;
			color: #bfccd6;

			> .rc-collapse-header{
				padding: 0.7rem 1rem;
				height: 38px;
				border-top: 1px solid #435461;
				border-bottom: 1px solid #1d272f;
				font-weight: $fontWeightMedium;
				color: #dde4ea;
				cursor: pointer;
				transition: all 0.2s ease-out;

				#{$pEvents}{
					background: lighten($secondaryColor, 5%);
					color: $white;
					transition: none;
				}

				.arrow{
					float: right;
					color: #5c7080;
					transition: transform 0.2s ease-out;
				}
			}
		}

		.rc-collapse-item-active{
			.arrow{
				transform: rotate(90deg);
			}
		}

		.rc-collapse-content{
			overflow: hidden;
		}

		.rc-collapse-content-box{
			background: $primaryColor;
			border-bottom: 1px solid #1d272f;
		}

		.rc-collapse-content-inactive {
			display: none;
		}

		.rc-collapse-anim-active {
			transition: height 0.2s ease-out;
		}	
	}
}


.label{
	display: inline-block;
	margin: 0.3rem 0.3rem;
	padding: 0.3rem 0.7rem;
	background: $secondaryColor;
	border: 1px solid #1d272f;
	font-size: 0.8rem;
	border-radius: 3px;
	cursor: pointer;

	#{$pEvents}{
		background: lighten($secondaryColor, 5%);
		color: $white;
	}
	&.isActive{
		background: $blue;
		color: $white;
	}
}

.sets{
	line-height: 0.9rem;
	color: $gray;

	> .arrow{
		margin-right: 0.3rem;
	}
}

.openFlags{
	color: #dde4ea;
	margin-left: 2rem;
	text-transform: uppercase;
	opacity: 0.7;
}

.find{
	@include flex;

	padding: 0 1rem;
	background: #202b33;
	color: $gray;

	> .input{
		padding: 0.5rem;
		width: 100%;
		background: none;
		border: none;
		font-family: $fontFamily;
		color: $grayLight;
		outline: none;

		&::placeholder{
			color: darken($gray, 15%);
		}
	}
}