/*====================================*\
	#SEARCH
\*====================================*/

@import "~stylesheets/variables/colors";
@import "~stylesheets/variables/fonts";
@import "~stylesheets/utils";


.search{
	@include flex;

	height: 1.8rem;
	padding: 0 0.3rem;
	background: $white;
	border: 1px solid #d8d8da;
	font-size: 0.8rem;
	border-radius: 20px;
	box-shadow: inset -1px 1px 1px -1px $gray;
}

.icon{
	margin: 0 0.5rem 0 0.2rem;
	font-size: 1rem;
	color: $gray;
}

.input{
	height: 100%;
	background: none;
	border: none;
	font-family: $fontFamily;
	color: #748593;
	outline: none;

	&::placeholder{
		color: $gray;
	}
}

.label{
	margin-left: 0.5rem;
	padding: 0.1rem 0.3rem;
	background: $grayLight;
	border: 1px solid #d8d8da;
	font-weight: $fontWeightMedium;
	font-size: 0.9rem;
	color: $gray;
	border-radius: 15px;
}