/*====================================*\
	#TABLE
\*====================================*/

@import "~stylesheets/variables/colors";
@import "~stylesheets/variables/fonts";
@import "~stylesheets/variables/utils";


/*====================================*\
	#REACT TABLE OVERWRITE
\*====================================*/

:global{
	.table{
		margin-bottom: 1rem;
		background: $white;
		border: none;
		color: #748593;

		.rt-thead{
			&.-header{
				border-bottom: 1px solid #d8d8da;
				box-shadow: none;
				color: $grayDark;
			}
			&.-filters{
				display: none;
			}

			.rt-th{
				padding: 0.7rem 1rem;
				border-right: none;
				font-size: 0.7rem;
				line-height: 1.1rem;
				font-weight: $fontWeightBold;
				text-align: left;
				text-transform: uppercase;
				outline: none;

				#{$pEvents}{
					color: $blue;
				}

				&.-sort-asc,
				&.-sort-desc{
					color: $blue;
					box-shadow: none;

					&:after{
						content: '';
						position: absolute;
						top: 50%;
						right: 1rem;
						margin-top: -3px;
						border: 5px solid transparent;
					}
				}

				&.-sort-asc{
					&:after{
						border-top-width: 0;
						border-bottom-color: $blue;
					}
				}

				&.-sort-desc{
					&:after{
						border-bottom-width: 0;
						border-top-color: $blue;
					}
				}

				.icon{
					text-align: center;
					font-size: 1.1rem;	
				}
			}
		}

		.rt-tbody{
			min-height: 60px;

			.rt-tr-group{
				border-bottom: none;

				#{$pEvents}{
					background: #f8f8f8;
				}

				.rt-tr-group{
					background: #f2f2f2;
				}
			}
			.rt-tr{
				border-bottom: 1px solid #e7e7e8;
			}

			.rt-td{
				padding: 1.7rem 1rem;
				border-right: none;
				font-size: 0.8rem;
				font-weight: $fontWeightMedium;

				&:first-child{
					color: $grayDark;
				}

				&.rt-expandable{
					color: $blue;
				}
			}
		}

		.-pagination{
			border-top: none;
			border-bottom: 1px solid #d8d8da;
			font-size: 0.8rem;
			box-shadow: none;

			.-btn{
				background: $white;
				color: $blue;
				text-transform: uppercase;
				font-family: $fontFamily;
				font-weight: $fontWeightMedium;

				&:not([disabled]){
					#{$pEvents}{
						background: $grayLight;
						color: darken($blue, 5%);
					}
				}
			}
		}
	}

	.square{
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		border-radius: 3px;

		&.is-low{
			background: $gray;
		}
		&.is-medium{
			background: $yellow;
		}
		&.is-high{
			background: $orange;
		}
		&.is-critical{
			background: $red;
		}
	}

	.label{
		display: block;
		padding: 0.2rem;
		border: 2px solid $gray;
		color: darken($gray, 10%);
		font-size: 0.7rem;
		font-weight: $fontWeightBold;
		text-transform: uppercase;
		text-overflow: ellipsis;
		overflow: hidden;
		border-radius: 3px;

	}
	.rt-pivot{
		.label{
			display: inline-block;
			vertical-align: middle;
		}
	}

	.counter{
		display: inline-block;
		margin-left: 0.3rem;
		padding: 0.2rem 0.4rem;
		background: $grayLight;
		font-size: 0.7rem;
		color: $gray;
		vertical-align: middle;
		border-radius: 7px;
	}


	.text-center{
		text-align: center;
	}
}
